/* added styling to the footer */ 
.link {
    color: white;
}


.links-container {
    display: flex;
    justify-content: space-between; /* or "space-between" for more space between links */
    align-items: center;
  }
  
.py-3{
    margin: auto;
    margin-top: 5rem;
}

.bottom {
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1030;
}